.auth {
  width: 500px;
  padding: 20px 40px 40px 40px;
  background: $TRANSLUCENT-BLACK;
  margin: auto;
  z-index: 1;

  &__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    position: relative;
  }

  &__background {
    background: url('https://s3-us-west-1.amazonaws.com/thestratbook/static/images/example-images/screen1.jpg') no-repeat center center;
    background-size: cover;
    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  h3 {
    text-align: center;
  }

  .form-control {
    background-color: $TRANSLUCENT-BLACK;
  }
}
