.btn {
  padding: 11px 16px;
  border-radius: 0;
  background-color: $BLUE;
  color: $WHITE;
  border: none;
  line-height: 1;

  &:hover,
  &:visited,
  &:focus,
  &:active {
    background-color: $BLUE;
    color: $WHITE;
  }

  &-large {
    padding: 16px 18px;
  }

  &-small {
    padding: 8px;
  }

  &-gray {
    background-color: $ACCENT;

    &:hover,
    &:visited,
    &:focus,
    &:active {
      background-color: $ACCENT;
      color: $WHITE;
    }
  }

  &-fullwidth {
    display: block;
    padding: 16px 18px;
    width: 100%;
  }

  &-clear {
    background-color: transparent;
    border: 1px solid $ACCENT;
    box-sizing: border-box;

    &:hover,
    &:visited,
    &:focus,
    &:active {
      background-color: transparent;
      color: $WHITE;
    } 
  }

  &-unstyled {
    background: none;
    border: 0;
    color: inherit;
    overflow: visible;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    background-color: transparent;
    color: $WHITE;

    &:hover,
    &:visited,
    &:focus,
    &:active {
      background: none;
      border: 0;
      color: inherit;
      background-color: transparent;
      color: $WHITE;
    }
  }
}

.guide-new {
  &__radio-wrapper {
    display: inline-block;
    height: 80px;
    width: 200px;
    position: relative;
  }

  &__radio {
    height: 100%;
    width: 100%;
    background-color: $WHITE;
    border: none;
    opacity: 0.5;

    &:checked {
      background-color: $WHITE;
      border: 2px solid $BLUE;
      opacity: 1;
    }
  }

  input:not(:checked) + label {
    opacity: 0.5;
  }

  &__radio-label {
    // Pseudo-centering
    position: absolute;
    left: 50%;
    top: 50%;
    pointer-events: none;
    
    p {
      font-family: $HEADER-FONT-FAMILY;
      position: relative;
      top: -12px;
      left: -50%;
      text-transform: uppercase;
    }
  }
  select,
  input[type="radio"],
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__color-select-text {
    color: $WHITE;
    line-height: 22px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  &__color-select-color-box {
    display: inline-block;
    width: 30px;
    height: 22px;
    margin-right: 8px;
  }

  &__color-select {
    display: inline-block;
    width: 100px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.3px;
    height: 22px;

    .Select-control {
      background-color: transparent !important;
      color: $WHITE;
      border-radius: 0;
      height: 22px;
      line-height: 22px;

      .Select-value {
        line-height: 22px;
      }
    }

    .Select-input {
      height: 22px;
      background-color: transparent !important;
    }

    .Select-value-label {
      color: $WHITE !important;
    }
  }
}
