.footer {
  z-index: 1;
  border-top: 2px solid $BLUE;
  padding: 20px;

  h2,
  h4 {
    text-transform: uppercase;
  }

  h6 {
    margin: 50px 0 10px 0;
  }

  li, p, a {
    font-size: 12px;
  }

  &__links {
    margin-bottom: 20px;

    li {
      margin: 14px 0;
    }
    li a {
      color: $ACCENT;
    }
  }

  &__copyright {
    p, a {
      font-size: 10px;
      color: $ACCENT;
    }
  }

  &__terms a {
    margin-left: 24px;
  }
  
  &__icon {
    width: 240px;
  }

  hr {
    background-color: $ACCENT;
    border-color: $ACCENT;
  }
}
