.sb-navbar {
  background-color: $TRANSLUCENT-BLACK;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 80px;

  a, p {
    padding: 12px 18px;
    display: inline-block;
    color: $WHITE;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 56px;
  }

  &-icon {
    width: 200px;
    margin-right: 10px;

    @media screen and (max-width: 992px) {
      margin-top: 20px;
    }
  }

  &-icon-link {
    margin-left: 0 !important;
    padding: 0 !important;
  }

  &__login-links a {
    padding-right: 0;
  }

  &__profile-image {
    height: 36px;
    width: 36px;
    border-radius: 23px;
    border: 2px solid $BLUE;
    margin: -10px;
    margin-left: 8px;
    box-sizing: border-box;
  }

  &__dropdown {
    position: absolute;
    top: 78px;
    left: 0;
    background-color: $TRANSLUCENT-BLACK;
    min-width: 200px;

    &.left {
      left: auto;
      right: 0;
    }

    >a {
      margin: 0 !important;
      border-bottom: 1px solid $ACCENT;
      width: 100%;
      line-height: 18px;

      &:last-of-type {
        border-bottom: none;
      }
    }

    &-wrapper {
      position: relative;
      display: inline-block;
    }
  }

  &__desktop {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  
  &__mobile {
    display: inline-block;

    @media screen and (min-width: 992px) {
      display: none;
    }

    &-right {
      float: right;
    }
  }

  &__menu {
    background-color: $TRANSLUCENT-BLACK;
    width: 100%;
    position: relative;
    top: -1px;
  }
}
