.hero {
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  min-height: 30vh;

  &__carousel {
    height: 500px;
    min-height: 40vh;
    background: url('/assets/images/example-images/https://s3-us-west-1.amazonaws.com/thestratbook/static/images/example-images/screen4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__author {
    font-size: 14px;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    max-width: 500px;
    background-color: $TRANSLUCENT-BLACK;
    padding: 12px 30px 30px 30px;
    text-transform: uppercase;
    position: relative;

    h3 {
      font-size: 20px;
    }
  }

  &__progress-bar,
  &__progress {
    height: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__progress {
    background-color: $BLUE;
  }

  &__progress.animating {
    -webkit-transition: width 3s linear;
    transition: width 3s linear;
  }

  &__card-content {
    position: relative;
  }

  &__btn {
    position: absolute;
    bottom: -6px;
    right: 0px;
  }
}
