input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  line-height: 45px;
  appearance: none;
  border: none;
  background-color: $ACCENT;
  border-radius: 10px;
  display: block;
  font-size: 18px;
  padding: 0 10px;

  // Prevent padding from interfering with width
  @include border-box-full-width;

  border: 2px solid #ddd;

  &.error {
    border-color: $RED;
  }
}

.input-group {
  margin: 6px 0px 15px 0;
}

.input {
  &__error-msg {
    color: $RED;
    font-size: 14px;
    margin-top: 5px;
  }
}
