input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  line-height: 45px;
  margin-bottom: 0;
  margin-right: 15px;
  appearance: none;
  border: none;
  background-color: $ACCENT;
  border-radius: 10px;
  display: block;
  font-size: 18px;
  padding: 0 10px;
  margin: 6px 0 15px 0;

  // Prevent padding from interfering with width
  @include border-box-full-width;

  border: 2px solid #ddd;
}
