/**
 * SCSS code for modal
 */
.modal {
  &__wrapper {
    background-color: $BLACK;
    padding: 25px;
    position: relative;

    &.wide {
      min-width: 500px;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
  }

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12;
    background-color: $TRANSLUCENT-BLACK;
  }
}
