.nade {
  &-info {
    margin-top: 20px;
    background-color: $FULLBLACK;
    padding: 15px;

    p {
      margin-bottom: 0;
    }
  }

  &-icon {
    width: 30px;
    height: 30px;
    display: inline-block;

    &-type {
      position: relative;
      top: 8px;
    }
  }
}
