.todo {
  &__card {
    border: 2px solid $ACCENT;
    padding: 2px 10px;
    display: block;
    border-radius: 10px;

    a {
      text-decoration: none;
    }

    &-title {
      display: inline-block;
    }

    &-author {
      float: right;
    }
  }
}
