/**
 * This file is primarily for CSS resets
 */

body, 
html, 
#app {
  width: 100%;
  height: 100%;
  background-color: $BLACK;
}

.stretch {
  width: 100%;
  height: 100%;
}

.hero-text {
  font-size: 42px;
  display: block;
}

#gl-init {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
span,
label,
div {
  color: $WHITE;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $HEADER_FONT_FAMILY;
}

a,
p,
li,
span,
label,
input,
textarea,
button {
  font-family: $TEXT_FONT_FAMILY;
}

h1 {
  font-size: 50px;
  letter-spacing: 1.8px;
}

h2 {
  font-size: 38px;
  letter-spacing: 1.6px;
}

h3 {
  font-size: 33px;
  letter-spacing: 1.4px;
}

h4 {
  font-size: 22px;
  letter-spacing: 1px;
}

h5 {
  font-size: 18px;
  letter-spacing: 0.7px;
}

h6 {
  font-size: 14px;
  letter-spacing: 0.5px;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 16px;
  margin-top: 8px;
  font-family: $HEADER_FONT_FAMILY;
}

a,
p,
li {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 18px;
}

.text-small {
  font-size: 14px;
}

.vcenter-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

a {
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: none;
  color: $WHITE;
}

// Counteract nav height
.page-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

hr {
  background-color: $WHITE;
}

.blue {
  color: $BLUE;
}

[hidden] {
  display: none !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.flex-row {
  display: flex;
}

.page__loading {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-padding {
  padding: 0 !important;
}
