/**
 * Put your SCSS globals here
 */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// Constant colors
$WHITE: #FFFFFF;
$ACCENT: #eeeeee;
$BLUE: #00A7FF;
$RED: #E18194;
$GREEN: #52E4A2;

$FONT_FAMILY: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$HEADER_FONT_FAMILY: 'Source Sans Pro', Arial, Helvetica, sans-serif;
$TEXT_FONT_FAMILY: 'Source Sans Pro', Arial, Helvetica, sans-serif;
